@font-face {font-family: 'EthnocentricRg-Regular';src: url('webfonts/21994B_0_0.eot');src: url('webfonts/21994B_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/21994B_0_0.woff') format('woff'),url('webfonts/21994B_0_0.ttf') format('truetype');}

.button{
	-moz-box-shadow:inset 0px 0px 0px 0px #000e36;
	-webkit-box-shadow:inset 0px 0px 0px 0px #000e36;
	box-shadow:inset 0px 0px 0px 0px #000e36;
	display:inline-block;
	color:#EEE;
	font-size:16px;
	font-weight:bold;
	padding:7px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #121212;
}.button:hover {
	cursor: pointer;
}.button:active {
	position:relative;
	top:1px;
}

.signinbutton{
	border:1px solid #111;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #383838), color-stop(1, #1f1f1f));
	background:-moz-linear-gradient( center top, #383838 5%, #1f1f1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#1f1f1f');
	background-image: -o-linear-gradient(#383838 5%, #1f1f1f 100%);
	background-color:#1f1f1f;
	-moz-border-radius:3px;
	border-radius:3px;
}.signinbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4C4C4C), color-stop(1, #353535));
	background:-moz-linear-gradient( center top, #4C4C4C 5%, #353535 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4C4C', endColorstr='#353535');
	background-image: -o-linear-gradient(#4C4C4C 5%, #353535 100%);
	background-color:#353535;
}

.menubutton{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0065bd), color-stop(1, #024178) );
	background:-moz-linear-gradient( center top, #0065bd 5%, #024178 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065bd', endColorstr='#024178');
	background-image: -o-linear-gradient(#0065bd 5%, #024178 100%);
	background-color:#0065bd;
	float: left;
}.menubutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1974C4), color-stop(1, #1B5486));
	background:-moz-linear-gradient( center top, #1974C4 5%, #1B5486 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1974C4', endColorstr='#1B5486');
	background-image: -o-linear-gradient(#1974C4 5%, #1B5486 100%);
	background-color:#1974C4;
}

.contextbutton{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007700), color-stop(1, #005500));
	background:-moz-linear-gradient( center top, #007700 5%, #005500 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007700', endColorstr='#005500');
	background-image: -o-linear-gradient(#007700 5%, #005500 100%);
	background-color:#005500;
	float: left;
}.contextbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #008800), color-stop(1, #006600));
	background:-moz-linear-gradient(center top, #008800 5%, #006600 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008800', endColorstr='#006600');
	background-image: -o-linear-gradient(#008800 5%, #006600 100%);
	background-color:#006600;
}

.replaybutton {
	display: none;
}

#header {
	background-color: #444;
	display: block;
	height: 60px;
	max-width: 1280px;
	min-width: 620px;
	margin: auto;
	clear: both;
}
#header_left {
	float: left;
	height: 60px;
	line-height: 42px;
	font-size: 42px;
	padding-left: 10px;
	font-family: EthnocentricRg-Regular;
	font-style: normal;
	color: #FFF;
}

#header_right {
	float: right;
	vertical-align: middle;
	text-align: right;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
	color: #FFF;
}
#menu {
	background-color: #444;
	color: #EEE;
	display: block;
	max-width: 1280px;
	min-width: 620px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	clear: both;
	overflow: hidden;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#playerinfo {
	float: right;
	margin-right: 10px;
	color: #FFF;
	line-height: 30px;
	font-size: 20px;
}
#content {
	background-color: #444;
	min-height: 150px;
	clear: both;
	max-width: 1280px;
	min-width: 620px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	overflow: auto;
}
#historybutton {
	display: none;
}
#lobbybutton {
	display: none;
}
#gamesbutton {
	display: none;
}

#infocontent {
	padding: 10px;
	color: #FFF;
}

#activegamestitle {
	color: #FFF;
}

#info {
	max-width: 1280px;
	min-width: 620px;
}
#history {
	max-width: 1280px;
	min-width: 620px;
	display: none;
}
#lobby {
	max-width: 1280px;
	min-width: 620px;
	display: none;
}
#games {
	max-width: 1280px;
	min-width: 620px;
	display: none;
}
#replay {
	max-width: 1280px;
	min-width: 620px;
	display: none;
}
p {
	font-size:12px;
	color: #FFF;
}
#content_left {
	float: left;
	width: 50%;
}
#content_right {
	float: right;
	width: 50%;
}
.table {
	border-collapse: collapse;
	border: 0px solid #000000;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
 }
.rowh {
	background: #333333;
	color: #CCC;
	height: 20px;
	text-align: left;
}
.rowa {
	background: rgb(164,209,255);
	height: 20px;
	text-align: left;
}
.rowb {
	background: rgb(210,233,255);
	height: 20px;
	text-align: left;
}
.cell {
	padding: 0px;
	border: 0px solid #000000;
	padding: 2px;
}
body {
	background: #222;
	font-family: Arial, Helvetica, sans-serif;
}
canvas {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 10px;
}
.table_title {
	font-size: 24px;
	color: rgb(204,204,204);
	font-weight: bold;
	text-align: left;
	height: 30px;
	float: left;
	line-height: 30px;
	margin-top: 10px;
}
.subcontent_header {
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	clear: both;
	display: block;
	width: 80%;
	margin: 0 auto;
}
.content_header {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#gameinfo {
	float: left;
	height: 34px;
	vertical-align: middle;
	text-align: right;
	margin: auto 10px;
	color: #FFF;
	font-size: 24px;
	line-height: 34px;
}
#users {
	max-height: 300px;
	overflow: auto;
	background-color:#CCC;
	color:#000;
	padding: 0px 2px;
}
.usersbox {
	float:left;
	padding:10px;
}
.gamesbox {
	float:left;
	padding:10px;
}
.singlegame {
	background-color:#CCC;
	color:#000;
	padding: 0px 2px;
}
.singlegame:hover {
	background-color:#EEE;
	cursor: pointer;
}
.gameselected {
	background-color: #08F;
	color:#000;
}
.hilitegame {
	background-color: #F80;
	color:#000;
}
#joingames {
	max-height: 300px;
	overflow: auto;
}
#usergames {
	max-height: 300px;
	overflow: auto;
}
#usergamesother {
	max-height: 300px;
	overflow: auto;
}
#steps {
	max-height: 276px;
	overflow: auto;
	min-width: 140px;
}
.singlestep {
	background-color:#CCC;
	color:#000;
	padding: 0px 2px;
}
.singlestep:hover {
	background-color:#EEE;
	cursor: pointer;
}
.hilitestep {
	background-color: #08F;
	color:#000;
}
.boxtitle {
	background: #333333;
	color: #CCC;
	font-weight: bold;
	padding: 2px;
}
.replaybox {
	float:left;
	padding:10px;
}
.replayselect {
	float:left;
	padding:10px;
}
#replays {
	max-height: 276px;
	overflow: auto;
}
.singlereplay {
	background-color:#CCC;
	color:#000;
	padding: 0px 2px;
}
.singlereplay:hover {
	background-color:#EEE;
	cursor: pointer;
}
.hilitereplay {
	background-color: #08F;
	color:#000;
}

.canvasbox {
	height: 320px;
	width: 620px;
	float:left;
}
form {
	color: #FFF;
}
